/*	font-family: 'PT Serif', serif; */
body{
	
	font-family: 'PT Serif', serif;
}
.container{
	
}
.topbar{
	
	font-size: 17px;
}
.phone{
	
	color: black;
	margin-top: 50px;
	float: right;
	font-family: 'PT Serif', serif;
}
.phone:hover ,.email:hover{
	color: #FF765B;
	text-decoration: none;
	transition: 0.1s;
}

.email{

	color: black;
	margin-top: 50px;
	margin-left: 50px;
	float: right;
	font-family: 'PT Serif', serif;
}
nav{
	opacity: 0.8;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	height: 80px;
	background-color:#FF5432;
	width: 100%;
}
nav a{
	font-size: 20px;
	color: #fff;
}
nav a:hover{
	text-decoration: none;
	color: black;

	transition: 0.2s;
}

main p{
	right: 20px;
	position: absolute;
	width: 500px;
}
main img{
	width: 100%;
	float: right;
}

footer{
	background-color: black;
}
	
.totop{
	bottom: 75px;
	right: 75px;
	width: 50px;
	height: 50px;
	position: fixed;
	background-color: #FF5432;
	opacity: 0.2;
	border-radius: 50%;

}
.totop:hover{

	transition: 0.2s;
	opacity: 0.9;
}
.arrowtop{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-left: 15px;
  margin-top: 19px;
  padding: 9px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);

}
.aboutme{
	display: flex;
	
}

.photo1{
	margin-top: 2%;
	margin-left: 2%;

	width: 50%;
	float: left;
	
}


.topblock{
	top: 35%;
	left: 42%;
	position: relative;
	width: 40%;
	height: 40%;
	background-color: #FFC4B2;
}
.botblock{
	
	top: -2%;
	left: 41%;
	position: relative;
	width: 40%;
	height: 40%;
	background-color: #FF765B;

}

.name{
	top: 18%;
	right: 42%;
	left: 8%;
	white-space: normal;
  	overflow: hidden;
  	font-size: 40px;
  	font-weight: 500;
  	color: white;
}
.nextp{
	top: 51%;
	left:12%;
	right: 20%;
	white-space: normal;
  	overflow: hidden;
  	font-size: 16px;
  	font-weight: 500;
  	color: white;
}

.aboutme2{
	color: #FF765B;
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
.ep1, .ep3{
	color: #FF765B;
	font-weight: bold;
	padding-top: 20px;
	float: right;
	width: 300px;



}
.ep2, .ep4{
	font-size: 17px;
	margin-top: 150px;

}
.about{
	background-color: #f2f2f2;

}
.ep4{
	padding-bottom: 100px;
}
.aboutcontacts{
	margin-bottom: 30px;
	color: #FF765B;
	text-align: center;
}
.contacts{
	text-align: center;
	padding-bottom: 50px;

}
.contacts a{
	color: grey;
	padding-top: 25px;
	font-size: 30px;
	margin-right: 50px;
}
.fas{
	margin-top: 2px;
}
.contacts a:hover{
	text-decoration: none;
	color: #FF765B;
	transition: 0.5s;

}
.advocate{

}
.seminars{
	background-color: #f2f2f2;
	 
}
h2{
	color: #FF765B;
	text-align: center;
}
.note{
	color: #FF765B;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.aboutmecol{

	width: 100px;
	text-align: justify-all;
}
.aboutmecol p{
	font-size: 20px;
}

.aboutme2{
	margin-bottom: 40px;
}